*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html::-webkit-scrollbar {
    width: 0;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
html{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    background: #0d1117;
    color: whitesmoke;
}
.main__page{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main__page h1{
    font-size: 30px;
    font-weight: 800;
}
.main__page ul{
    margin-top: 40px;
    margin-left: 30px;
}
.main__page ul li{
    list-style: circle;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
}
.main__page .myName{
    font-size: 24px;
    font-weight: 600;
}
#__next{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
.Navbar{
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid #30363d;
    background: #161b22;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Navbar a{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.wrapper{
    margin: 0 5% 0 5%;
}
.wrapper p{
    font-size: 24px;
}
.wrapper a{
    color: black;
    font-size: 20px;
    text-decoration: underline;
}
.content__wrapper{
    min-height: 70vh;
    margin-top: 20px;
}
.content__wrapper .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content__wrapper .header .changeButton{
    background: #1d69e0;
    padding: 10px;
    border: 1px solid #1d69e0;
    border-radius: 15px;
}
.content__wrapper .header .changeButton:hover{
    cursor: pointer;
}
.content__wrapper .header .changeButton:active{
    cursor: pointer;
    background: #0d1117;
    border: 1px solid #30363d;
}
.content__wrapper h1{
    font-size: 30px;
    font-weight: 700;
}
.aphorism__card-grid{
    min-height: 70vh;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-content: space-between;
    grid-gap: 30px;
}
.aphorism__card{
    background-color: #1a2c43;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 100%;
}
.aphorism__text{
    margin-bottom: 10px;
    font-size: 18px;
}
.aphorism__text a{
    color: whitesmoke;
    text-decoration: none;
}
.aphorism__avtor{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: #8b949e;
}
.aphorism__avtor img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.aphorism__like{
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.aphorism__like .like{
    margin-right: 10px;
}
.aphorism__like .like:hover{
    cursor: pointer;
}
.aphorism__like .like img{
    height: 25px;
    width: 25px;
}
.about__post{
    background: #1a2c43;;
    padding: 40px;
    border-radius: 15px;
    font-weight: 600;
}
.about__post .text{
    font-size: 25px;
}
.about__post .avtor{
    font-size: 20px;
    margin-top: 30px;
    color: #8b949e;
}
.like__wrapper img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.like__wrapper img:hover{
    cursor: pointer;
}
.like__wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}
footer{
    display: flex;
    height: 100%;
    padding: 20px;
    margin-top: 10px;
    justify-content: flex-end;
}
.Error{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.Error a{
    color: whitesmoke;
    text-decoration: underline;
}
.Error img{
    margin-top: 40px;
}
@media (max-width: 767px){
    .header{
        margin: 0px 20px;
        width: auto;
    }
    .wrapper{
        margin: 0;
    }
    .aphorism__card-grid{
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;
        grid-gap: 30px;
        margin-top: 40px;
    }
    .aphorism__card{
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 40px 20px;
    }
    .myName{
        margin-left: 10px;
    }
    .main__page h1{
        margin: 0 10px;
    }
}



